<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp!</title>
</head>
<header style="font-size:20px; padding:50px;">
<% if( username ) { %>
Logged in as <%=username%>
<form action="/logout" method="POST" style="margin:150px;">
<input type="submit" value="Logout">
<% } else { %>
<form action="/login" method="POST" style="margin:150px;">
<label for="Login">Login</label>
<input id="username" type="text" name="username" placeholder="username" style="width: 300px">
<input type="submit" value="Submit your username">
</form>
<% }%>
</header>