<% include partials/_header %>
<body>
<% for (const shortURL in urls) { %>

<h2><%=`${shortURL}:   ` %></h2><h3><%= urls[shortURL].url %><h2>
<form method="POST" action="/urls/<%=shortURL%>/delete">
<button>delete me!</button>
</form>
<h4><a href="/urls/<%=shortURL%>/update" input id="shortURL" type="text" name="shortURL">update</a><h4>
<br><br><br>
<% } %>

<h1><a href="/urls/new" input id="shortURL" type="text" name="shortURL">Shorten a new url here</a><h1>

</body>
</html>