<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
  <div style="text-align: center">
  <header>
  <% include partials/_header %>
  <br><br>
  </header>
      <% for (const shortURL in urls) { %>
        <h2><%=shortURL%>: </h2><h3><%= urls[shortURL].url %><h2>
        <form method="POST" action="/urls/<%=shortURL%>/delete">
          <br>
          <button class="btn btn-primary">DELETE URL</button>
        </form>
        <h4><a href="/urls/<%=shortURL%>/edit" class="btn btn-primary" input id="shortURL" type="text" name="shortURL">EDIT URL</a><h4>
        <br><br>
      <% } %>
        <h1><a href="/urls/new" class="btn btn-success" input id="shortURL" type="text" name="shortURL">CLICK HERE TO SHORTEN NEW URLS</a><h1>
    <div>    
  </body>
</html>